# --- GİZLİ DOSYALAR (Bunlar ASLA GitHub'a gitmez) ---
.env
.env.local

# --- Gereksiz Python Dosyaları ---
__pycache__/
*.py[cod]

# --- Sanal Ortam (Çok şişkin olduğu için gitmez) ---
venv/
env/
.venv/

mock_data.sql

# --- Mac/Windows Çöpleri ---
.DS_Store
# --- Veritabanı (Commitlenmemeli) ---
*.db
*.sqlite
*.sqlite3
